@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Noto+Sans+JP:wght@100..900&display=swap');

p {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}